form{
    max-width: 1000px;
}
#carousel-inner img{
    height: 300px;
}
#footer{
	margin-top: 2rem;
	background-color: #D9D9D9;
	max-height: 500px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content-footer{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
}
    